*{
    color: rgba(0,0,0,.85); /* default text color*/
}

html{
    height: 100%;
    width: 100%;
}

.side-bar{
    position: absolute;
    display: flexbox;
    height: 100%;
    width: 18%;
    right:82%;
    top:0%;
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    justify-content: center;

    background-color: rgb(255,255,255);

}
@keyframes side-btn-color-change{
    from{
        background-color: rgb(243, 243, 243);
    }
    to{
        background-color: #b5f8af;
    }
}
@keyframes side-btn-appear{
    from{opacity:0};
    to{opacity:1};
}

.side-btn{
    font-family: 'Cinzel', serif;
    font-weight: 100;
    position: relative;
    -webkit-user-select: none; /* Safari */    /*   This is so there */
    -moz-user-select: none; /* Firefox */     /* is no cursor change*/
    -ms-user-select: none; /* IE10+/Edge */  /* when hovering over */
    user-select: none; /* Standard */       /* the menu options  */
    top:30%;
    padding-bottom: .25rem;
    padding-top: .25rem;
    margin-top: .25rem;
    margin-bottom: .25rem;
    text-align: center;
    font-size: 2rem;
    opacity:0;
    
}
.side-btn:hover{
    animation-name: side-btn-color-change!important;
    animation-duration: .3s;
    animation-fill-mode: forwards; 
    /* using !important because CSS will see that script.js has some code that dictates background-color and automatically stop itself from applying this.*/ 
}
.side-footer{
    width:100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom:3%;
    justify-content: space-evenly;
}
.side-footer img{
    width:50px;
    height:50px;
    flex-shrink: 3; /* currently shrinking doesnt work : ( */
}

/*                                    */
/*                 HOME               */
/*                                    */

.home-container{
    position:absolute;
    height:100%;
    width:82%;
    left:18%;
    top:0%;
    margin:0%;
    padding:0%;
    overflow-y:hidden;
    overflow-x: hidden;
    
}
.home-image{
    position:absolute;
    width:100%;
}

#himg1{
    left:0%
}
#himg2{
    left:100%;
}
#himg3{
    left:200%;
}
.arrow{
    z-index:10;
    position:absolute;
    width:5%;
    bottom:10%;
    cursor: pointer;
}

.front{
    left:55%;
}

.back{
    left:45%;
    -webkit-transform: scaleX(-1);
}

.arrow:hover{
    content:url("/icons/arrow2.png");
}


/*                                    */
/*              CONTENT               */
/*                                    */

.content-container{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap:wrap;
    height: 100%;
    width: 82%;
    left: 18%;
    top:0%;
    margin:0px;
    padding:0px;
    /*overflow-y:hidden;*/
    overflow-x:hidden;
    background-color: #b7f6f8; 
}



.project-box{
    position: relative;
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius:20px;
    background-color: rgba(255,255,255,0.4);
    -webkit-user-select: none; /* Safari */    /*   This is so there */
    -moz-user-select: none; /* Firefox */     /* is no cursor change*/
    -ms-user-select: none; /* IE10+/Edge */  /* when hovering over */
    user-select: none; /* Standard */       /* the menu options  */
    z-index:1;
}

.project-box a{
    position:absolute;
    display:block;
    height:100%;
    width:100%;
    z-index:10;
}
.project-image{
    width:300px;
    height:300px;
    mix-blend-mode: multiply;
    border-radius:20px;
}
.project-title{
    position:absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    text-align: center;
    width:100%;
    height:28%;
    top:0%;
    color:rgba(255,255,255,.8);
    background-color: rgba(0,0,0,.6);
    border-radius: 20px 20px 0px 0px;
}
.project-info{
    position:absolute;
    text-align:center;
    font-family: 'Roboto', sans-serif;
    font-size:1.2rem;
    text-indent: 0rem;
    top:30%;
    left:3.5%;
    color:rgba(255,255,255,.8);
    width:95%;
    height:70%;
}

.project-date{
    position:absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    border-radius: 20px;
    height:10%;
    text-align: right;
    padding-left: 5%;
    padding-right:5%;
    bottom:-11%;
    right:0%;
    line-height: 150%;
    color: rgba(255,255,255,.8);
    background-color: rgba(0,0,0,.5);
}

@keyframes project-box-hover-gradual-change{
    from{
        background-color: rgba(255,255,255,.4);
    }
    to{
        background-color: rgba(0,0,0,.6 );
    }
}

.project-box:hover{
    animation-name: project-box-hover-gradual-change;
    animation-duration: .75s;
    animation-fill-mode: forwards; /*keeps the animation color*/
}
