*{
    color: rgba(0,0,0,.85); /* default text color*/
}

html{
    height: 100%;
    width: 100%;
}

.side-bar{
    position: absolute;
    display: flexbox;
    height: 100%;
    width: 22%;
    right:78%;
    top:0%;
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    justify-content: center;

    background-color: rgba(0,0,0,0);

}

.side-btn{
    font-family: 'Cinzel', serif;
    font-weight: 100;
    position: relative;
    -webkit-user-select: none; /* Safari */    /*   This is so there */
    -moz-user-select: none; /* Firefox */     /* is no cursor change*/
    -ms-user-select: none; /* IE10+/Edge */  /* when hovering over */
    user-select: none; /* Standard */       /* the menu options  */
    top:30%;
    padding-bottom: .25rem;
    padding-top: .25rem;
    margin-top: .25rem;
    margin-bottom: .25rem;
    text-align: center;
    font-size: 2.5rem;    
}
.side-btn:hover{
    background-color: #b5f8af!important; 
    /* using !important because CSS will see that script.js has some code that dictates background-color and automatically stop itself from applying this.*/ 
}
.side-footer{
    width:100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom:3%;
    justify-content: space-evenly;
}
.side-footer img{
    width:50px;
    height:50px;
    flex-shrink: 3; /* currently shrinking doesnt work : ( */
}

.content{
    position: absolute;
    display: flexbox;
    flex-shrink: 1;
    height: 100%;
    width: 78%;
    left:22%;
    top:0%;
    margin:0px;
    padding:0px;
    overflow-y:hidden;
    overflow-x:hidden;
    background-color: #b7f6f8 
}